@media (max-width: 320px) {
  * {
    margin: 0px;
  }
}

body {
    margin:0; padding:0;
    font-family: 'gb', Fallback, sans-serif;
    color: #0F380F;
    background: #fffffff;
    text-align: center;
    font-size: 8px;
    margin-left: auto;
    margin-right: auto;
/*
    border: 5px solid #000;
*/
/*
    background-image: url('images/handled_blc.gif'), url('images/handled_brc.gif');
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
*/
}

iframe {
    border: 0px;
    width: 240px;
    height: 195px;
}

img {border: 0;}

/************/

#handled {
    width: 312px;
    min-height: 475px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
/*
    background-image: url('images/handled_blc.gif'), url('images/handled_brc.gif');
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
*/
}

#bezel {
    width: 300px;
    height: 244px;
    margin: 15px auto 0 auto;
    background: gray;
    padding-top: 1px;
    background-image: url('images/bezel_lcorner.gif'), url('images/bezel_rcorner.gif');
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat; 
}

#screen {
    position: relative;
    border: 5px solid #8BAC0F;
    width: 240px;
    height: 192px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    overflow: hidden;
    background: #9bbc0f;
}

#brand {
    width: 160px;
    height: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-image: url('images/retroboy.gif');
    background-repeat: no-repeat;
}

#controller{
    margin-top: 10%;
    width: 100%;
}

#dpad{
    position: relative;
    width: 92px;
    height: 92px;
    margin: 10px;
    background-image: url('images/dpad.gif');
    background-repeat: no-repeat;
/*
    padding-top: 8px;
*/
}

.virtual-joystick
{
    position: absolute;
    width: 64px;
    height: 64px;
    left:14px;
    top:14px;
    border-radius: 32px;
}

#actions{
    position: relative;
    width: 116px;
    margin-top: 26px;
    left: -16px;
}

#actions > #btnSELECT{
    background-image: url('images/startselect.gif');
    background-position: 0px -24px;
    background-repeat: no-repeat, no-repeat;
}

#actions > #btnSELECT:active {
    background-position: -48px -24px;
}

#actions > #btnSTART{
    background-image: url('images/startselect.gif');
    background-position: 0px 0px;
    background-repeat: no-repeat, no-repeat;
}

#actions > #btnSTART:active {
    background-position: -48px 0px;
}

#actions > #btnSTART, #actions > #btnSELECT {
    width: 48px;
    height: 24px;
    margin: 5px;
    text-align: center;
}

#buttons {
    position: relative;
    float: right;
    width: 125px;
    height: 89px;
    margin-top: 10px;
    background-image: url('images/buttonsbg.gif');
}

#buttons > #btnA, #buttons > #btnB {
    position: absolute;
    width: 48px;
    height: 48px;
    color: #4b4f4e;
    font-size: 15px;
}

#buttons > #btnA {
    background-image: url('images/buttons.gif');
    background-position: 0px 0px;
    top: 7px;
    left: 65px;
}

#buttons > #btnA:active {
    background-position: 48px 0px;
}

#buttons > #btnB {
    background-image: url('images/buttons.gif');
    background-position: 0px -48px;
    top: 35px;
    left: 12px;
}

#buttons > #btnB:active {
    background-position: 48px -48px;
}

#speaker {
  position: relative;
  width: 72px;
  height: 77px;
  background-image: url('images/speaker.png');
  background-repeat: no-repeat, no-repeat;
  right: 0px;
  bottom: 25px;
  float: right;
  bottom: -20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text {
    font-size: 8px;
}

.consolebtn {
/*
    background: red;
*/
    width: 20px;
    height: 26px;
}

#dpad > .consolebtn:active {
    background: yellow;
}

.button-long {
    width: 26px;
    height: 20px;
    margin: 5px;
    text-align: center;
}

#fps {
    position: absolute;
    z-index: 9999;
    background: #9bbc0f;
}

/*
.back {
    position: relative;
}
*/
